.gameBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  grid-gap: 1em;
  width: 100%;
  max-width: 800px;
}

.playerArea {
  grid-column: 1;
  grid-row: 2;
}
.playArea {
  display:flex;
}
.tableauArea {
  display: flex;
  justify-content: center;
  grid-column: 2 / 4;
  grid-row: 2;
}

.foundationArea {
  display: flex;
  justify-content: center;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.opponentArea {
  grid-column: 4;
  grid-row: 2;
}