.gameBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.5em;
  width: 100%;
  max-width: 800px;
}

.playerReserve,
.opponentReserve {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
}

.tableauColumn {
  display: flex;
  flex-direction: column;
}

.foundationColumn {
  display: flex;
  flex-direction: column;
}