.gameBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: block;
}

.playerArea {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.playArea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.tableauArea {
  display: flex;
  justify-content: center;
  grid-column: 2 / 4;
  grid-row: 2;
}

.foundationArea {
  display: flex;
  justify-content: center;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.opponentArea {
  grid-column: 4;
  grid-row: 2;
}
